<!DOCTYPE html>
<html lang="zh-CN">
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <head>
    <!-- 加载bootstrap3应用、CSS、Javascript文件，% %为Django模板标签语言 -->
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!-- 设置页面标题 -->
    <title>渠道评估平台</title>

  </head>

  <body role="document">

    <!-- 导航栏 -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/lt_est/">渠道评估平台</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!-- 设置页面导航栏，class=active表示当前菜单处于选中状态 -->
            <li ><a href="/index/">留存查询</a></li>

            <li><a href="/lt_est/">LT预估</a></li>
              <li class="active"><a href="/dau_est/">DAU预估</a></li>
              <li><a href="/dnu_est/">DNU预估</a></li>
              <li><a href="/cost_input/">成本录入</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">

            <li><a href="/logout/">退出</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- <div class="container theme-showcase" role="main"> -->


      <div class="page-header" style="padding-top:60px;">
          <div id="navbar" class="navbar-collapse collapse">
            <!-- method=get 为HTTP请求方式，action=/search_name/为搜索请求路径 -->
            <form class="navbar-form" method="get" action="/dau_est_cal/">
              <div class="form-group">
                <!-- name=name为搜索输入框name的属性值 -->
                <input name="name" type="text" placeholder="渠道号" class="form-control">
                  <input type="text" name="daterange" value="01/01/2020 - 01/30/2020" class="form-control" />
                  <input name="dnu_data" type="text" placeholder="预估每日新增量" class="form-control">
                  <input type="text" list="itemlist" name="est_time_range" placeholder="预估时间周期（月份）" class="form-control">
                   <datalist id="itemlist">
                    <option>1个月</option>
                    <option>2个月</option>
                       <option>3个月</option>
                       <option>4个月</option>
                       <option>5个月</option>
                       <option>6个月</option>
                       <option>7个月</option>
                       <option>8个月</option>
                       <option>9个月</option>
                       <option>10个月</option>
                       <option>11个月</option>
                       <option>12个月</option>
                   </datalist>
              </div>
              <button type="submit" class="btn btn-success">立即计算</button>
            </form>
          </div><!--/.navbar-collapse -->
        </div>


      <div class="row" style="padding-top: 80px;">
        <div class="col-md-6">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>日期</th>
                <th>渠道ID</th>
                  <th>DAU</th>
                  <th>DNU</th>
              </tr>
            </thead>
            <tbody>

              {% for event in events %}
                <tr>
                  <td>{{ event.date_fmt }}</td>
                <td>{{ event.ch_id }}</td>
                <td>{{ event.dau }}</td>
                <td>{{ event.dnu }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

    </div>




  </body>
<script>
$(function() {
  $('input[name="daterange"]').daterangepicker({
    opens: 'left'
  }, function(start, end, label) {
    console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
  });
});
</script>
</html>