<!DOCTYPE html>
<html lang="zh-CN">
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <head>
    <!-- 加载bootstrap3应用、CSS、Javascript文件，% %为Django模板标签语言 -->
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!-- 设置页面标题 -->
    <title>渠道评估平台</title>
      <link rel="shortcut icon" href="https://img.icons8.com/offices/40/000000/ninja-turtle.png" type="image/x-icon">
  </head>

  <body role="document">

    <!-- 导航栏 -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/lt_est/">渠道评估平台</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!-- 设置页面导航栏，class=active表示当前菜单处于选中状态 -->
            <li class="active"><a href="#">留存查询</a></li>

            <li><a href="/lt_est/">LT预估</a></li>
              <li><a href="/dau_est/">DAU预估</a></li>
              <li><a href="/dnu_est/">DNU预估</a></li>
              <li><a href="/cost_input/">成本录入</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">

            <li><a href="/logout/">退出</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- <div class="container theme-showcase" role="main"> -->


      <div class="page-header" style="padding-top:60px;">
          <div id="navbar" class="navbar-collapse collapse">
            <!-- method=get 为HTTP请求方式，action=/search_name/为搜索请求路径 -->
            <form class="navbar-form" method="get" action="/search_name/">
              <div class="form-group">
                <!-- name=name为搜索输入框name的属性值 -->
                <input name="name" type="text" placeholder="渠道号" class="form-control">
                <input type="text" name="daterange" value="01/01/2020 - 01/30/2020" class="form-control" />
{#                <input name="date_fmt" type="text" placeholder="日期" class="form-control">#}
              <button type="submit" class="btn btn-success">搜索</button>
            </form>
          </div><!--/.navbar-collapse -->
        </div>


      <div class="row" style="padding-top: 80px;">
        <div class="col-md-6">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>日期</th>
                <th>渠道ID</th>
                  <th>新增用户数</th>
                <th>后1日留存</th>
                <th>后2日留存</th>
                <th>后3日留存</th>
                <th>后4日留存</th>
                <th>后5日留存</th>
                  <th>后6日留存</th>
                <th>后7日留存</th>
                <th>后8日留存</th>
                <th>后9日留存</th>
                <th>后10日留存</th>
                <th>后11日留存</th>
                <th>后12日留存</th>
                <th>后13日留存</th>
                <th>后14日留存</th>
                <th>后15日留存</th>
                <th>后16日留存</th>
                <th>后17日留存</th>
                  <th>后18日留存</th>
                <th>后19日留存</th>
                <th>后20日留存</th>
                <th>后21日留存</th>
                <th>后22日留存</th>
                <th>后23日留存</th>
                <th>后24日留存</th>
                <th>后25日留存</th>
                <th>后26日留存</th>
                <th>后27日留存</th>
                <th>后28日留存</th>
                <th>后29日留存</th>
              </tr>
            </thead>
            <tbody>

              {% for event in events %}
                <tr>
                  <td>{{ event.pday }}</td>
                  <td>{{ event.ch_id }}</td>
                  <td>{{ event.dnu }}</td>
                    <td>{{ event.rete_d1 }}</td>
                    <td>{{ event.rete_d2 }}</td>
                    <td>{{ event.rete_d3 }}</td>
                    <td>{{ event.rete_d4 }}</td>
                    <td>{{ event.rete_d5 }}</td>
                    <td>{{ event.rete_d6 }}</td>
                    <td>{{ event.rete_d7 }}</td>
                    <td>{{ event.rete_d8 }}</td>
                    <td>{{ event.rete_d9 }}</td>
                    <td>{{ event.rete_d10 }}</td>
                    <td>{{ event.rete_d11 }}</td>
                    <td>{{ event.rete_d12 }}</td>
                    <td>{{ event.rete_d13 }}</td>
                    <td>{{ event.rete_d14 }}</td>
                    <td>{{ event.rete_d15 }}</td>
                    <td>{{ event.rete_d16 }}</td>
                    <td>{{ event.rete_d17 }}</td>
                    <td>{{ event.rete_d18 }}</td>
                    <td>{{ event.rete_d19 }}</td>
                    <td>{{ event.rete_d20 }}</td>
                    <td>{{ event.rete_d21 }}</td>
                    <td>{{ event.rete_d22 }}</td>
                    <td>{{ event.rete_d23 }}</td>
                    <td>{{ event.rete_d24 }}</td>
                    <td>{{ event.rete_d25 }}</td>
                    <td>{{ event.rete_d26 }}</td>
                    <td>{{ event.rete_d27 }}</td>
                    <td>{{ event.rete_d28 }}</td>
                    <td>{{ event.rete_d29 }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

    </div>




  </body>
<script>
$(function() {
  $('input[name="daterange"]').daterangepicker({
    opens: 'left'
  }, function(start, end, label) {
    console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
  });
});
</script>
</html>